<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<div class="content-wrapper">
  
<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        Your Addresses
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Your Account</a>
        </li>
      <li class="active">Your Addresses</li>
    </ol>
  </section> 
  <br>
  <section content="content">
      <div class="row">
          <div class="col-md-3">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-danger direct-chat direct-chat-danger">
              <div class="box-header with-border">
                <h3 class="box-title">Default</h3>               
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="row">
                    <address>
                        <strong>Alexander Pierce</strong><br>
                        001, Brigade Arcade<br>
                        5th Main, 6th Cross, Koramangala<br>
                        Bangalore 560075<br>
                        Karnataka
                      </address>                   
                </div>
              </div>
              <div class="box-footer">
                <span></span>
              </div>
            </div>
          </div>
      </div>
  </section>
</div>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings>

