<app-appheader></app-appheader>
<div class="content-wrapper">  
<!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
        Your Addresses
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Your Account</a>
        </li>
      <li class="active">Your Addresses</li>
    </ol>
  </section> 
  <br>
  <section content="content">
      <div class="row">
          <div class="col-md-3 col-md-3 col-12">
              <!-- DIRECT CHAT PRIMARY -->
              <div class="box box-default">
                <div class="box-header with-border">                                
                </div> 
                <!-- /.box-header -->
                <div class="box-body">
                  <!-- Conversations are loaded here -->
                  <a routerLink="#">
                  <h1 style="text-align: center">Add +</h1>
                </a>
                </div>
                <div class="box-footer">                  
                </div>
              </div>
            </div>
          <div class="col-md-3 col-md-3 col-12">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-default">
              <div class="box-header with-border">
                <h3 class="box-title">Default</h3>               
              </div> 
              <!-- /.box-header -->
              <div class="box-body">
                <!-- Conversations are loaded here -->
                <address>
                    <strong>Alexander Pierce</strong><br>
                    001, Brigade Arcade<br>
                    5th Main, 6th Cross, Koramangala<br>
                    Bangalore 560075<br>
                    Karnataka
                </address> 
              </div>
              <div class="box-footer">
                  <span><a routerLink="#">Edit</a></span>
                  <span> | </span>
                  <span><a routerLink="#">Delete</a></span>
                  <span> | </span>
                  <span><a routerLink="#">Set as Default</a></span>
              </div>
            </div>
          </div>
      </div>
  </section>
</div>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings>

