<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Your Account
          <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-dashboard"></i> Home</a>
          </li>         
          <li class="active">Your Account</li>
        </ol>
      </section> 
      <br>
      <section class="content">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-aqua"><i class="fa fa-shopping-cart"></i></span>

              <div class="info-box-content">
                <span class="info-box-number">Your Orders</span>
                <span class="info-box-text">Track or view order status<small></small></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon bg-red"><i class="fa fa-envelope-o"></i></span>

              <div class="info-box-content">
                <span class="info-box-number">Your Addresses</span>
                <span class="info-box-text">Add or edit addresses</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix visible-sm-block"></div>

          
          <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-green"><i class="fa fa-lock"></i></span>
      
                  <div class="info-box-content">
                    <span class="info-box-number">Login & Security</span>
                    <span class="info-box-text">Edit login, name and mobile number</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-credit-card"></i></span>
      
                  <div class="info-box-content">
                    <span class="info-box-number">Payment Options</span>
                    <span class="info-box-text">Edit or Add Payment Methods</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
      
                  <div class="info-box-content">
                    <span class="info-box-number">Commissions</span>
                    <span class="info-box-text">View your earning</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-orange"><i class="fa fa-level-down"></i></span>
      
                  <div class="info-box-content">
                    <span class="info-box-number">Business Tree</span>
                    <span class="info-box-text">View your business tree</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
        </div>
        <!-- /.row -->
    </section>
</div>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings>